
/* Import fonts */
@font-face {
    font-family: "Lato";
    src:url(./assets/fonts/Lato/Lato-Light.ttf)
}
@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Lato400";
    src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato900";
    src: url(./assets/fonts/Lato/Lato-Bold.ttf);
}

/* backgroud configuration librery */
/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}


/* ---- LANDING STYLE ---- */

/* ---- UTILITY ---- */

img {
    max-width: 100%;
    object-fit: cover;
}

.container{
    max-width: 1100px;
    margin: o auto;
    max-width: 85%;
}

section {
    padding-top: 8rem;
    display: flex;
    height: 80vh;
    justify-content: center;
    text-align: center center;
}

.logo {
    height: 80px;
    margin-top: 30px;
}

button {
    width: 10rem;
    height: 3rem;
    background: transparent;
    font-family: "Lato400";
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

button:hover {
    background-color: rgba(253, 255, 251, 0.5);
    border-color: rgb(255, 255, 255);
    color: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.600);
}

h2 {
    font-family: "Lato";
    font-weight: bold;
    line-height: 5rem;
    font-size: 4rem;
    text-transform: capitalize;
    color: #000022;
    animation: moverDerecha 1s ease-in;
}

.container-header {
    height: 100vh;
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 8rem;
    position: absolute;
    z-index: 1;
}

.item h1 {
    font-family: "Lato900";
    font-weight: bold;
    line-height: 5rem;
    font-size: 4rem;
    text-transform: capitalize;
    color: #fff;
    animation: moverDerecha 1s ease-in;
}


.item p {
    font-size: 18px;
    color: #fff;
    font-family: "Lato";
    line-height: 2rem;
    margin: 2rem 0;
    animation: moverIzquierda 2s ease-in;
}

.item h1, p {
    margin-top: 10rem;
}

.item img {
    animation: arriba 2s ease-in;
}


.item:nth-of-type(2) {
    display: flex;
    justify-content: center;
}


/* ---- NAV ---- */

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: .5rem 0;
}

nav.container {
    display: flex;
}

.container .container-Left {
    display: inherit;  /* esto nos hereda el display flex */
    align-items: center;
}

.container-Left h2 {
    font-family: "Roboto";
    font-size: 2rem;
    color: #fff;
}

.container-Left h2 {
    animation: none;
}

.links {
    margin-left: 4rem;
}

.links a {
    margin-right: 3.5rem;
    color: #fff;
    font-family: "Lato";
    font-size: 16px;
    text-transform: initial;
    text-decoration: none
}

/* ---- ABOUT ---- */

.about-img {
    margin-top: -9rem;
    width: 100%;
    animation: moverIzquierda 2s ease-in;
}

.about {
    background-color: #fff;
}

.about p {
    font-size: 18px;
    color: #000;
    font-family: "lato";
    line-height: 2rem;
    margin: 2rem 0;
    text-align: justify;
    animation: moverDerecha 2s ease-in;
}

.about h1 {
    margin-top: 0;
    font-family: "Lato900";
    font-weight: bold;
    line-height: 5rem;
    font-size: 9rem;
    text-transform: capitalize;
    color: #000;
    animation: moverDerecha 2s ease-in;
}

/* ---- PORTAFOLIOS ---- */

.porfolio {
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenido {
    animation: moverDerecha 4s ease-in;
}

.porfolio h1 {
    margin-top: -1rem;
    font-family: "Lato900";
    font-weight: lighter;
    line-height: 5rem;
    font-size: 7.8rem;
    text-transform: capitalize;
    color: #fff;
}

.porfolio img {
    animation: moverIzquierda 2s ease-in;
    height: 55rem;
    margin-top: -9rem;
}

p {
    font-size: 18px;
    color: #fff;
    font-family: "Lato400";
    line-height: 2rem;
    margin: 2rem 0;
    text-align: justify;
}

.icons-skills {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
    align-items: center;
    
}

.icons-skills li p {
    text-align: center ;
}

.icons-skills img {
    height: 50px;
    margin: 0;
    
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    list-style: none;
    margin-top: 70px;
}

button {
    border-radius: 0;
}

/* ---- FOOTER ---- */

footer {
    padding: 1rem;
    height: 5rem;
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .icons-skills {
    background-color: rgba(253, 255, 251, 0.5);
    padding: 1rem 0 0.7rem ;
    border-radius: 20px 20px 0 0;
    margin: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.600);
    animation: arriba 2s ease-in;
}

/* ---- ANIMACIONES ---- */
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px){
    img{
        height: 400px;
    }

}




